WidgetStore/src/main/resources/wsdl/order.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="com.vishal.partdepot" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="OrderDefinitions" targetNamespace="com.vishal.partdepot">
  
  <wsdl:types>
    <xsd:schema targetNamespace="com.vishal.partdepot">
      
      <xsd:complexType name="address">
      	<xsd:sequence>
      	  <xsd:element name="street" type="xsd:string" />
      	  <xsd:element name="city" type="xsd:string" />
      	  <xsd:element name="state" type="xsd:string" />
      	  <xsd:element name="zip" type="xsd:string" />
     	</xsd:sequence>
      </xsd:complexType>
      
      <xsd:complexType name="customer">
      	<xsd:sequence>
      	  <xsd:element name="firstname" type="xsd:string" />
      	  <xsd:element name="lastname" type="xsd:string" />
      	  <xsd:element name="address" type="tns:address" />
      	</xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="orderItem">
      	<xsd:sequence>
      	  <xsd:element name="type" type="xsd:string" />
      	  <xsd:element name="price" type="xsd:double" />
      	</xsd:sequence>
      </xsd:complexType>
      
      <xsd:complexType name="order">
      	<xsd:sequence>
      	  <xsd:element name="customer" type="tns:customer" />
      	  <!-- <xsd:element name="orderItems" minOccurs="1" maxOccurs="unbounded" type="tns:orderItem" /> -->
      	  <xsd:element name="orderItem" type="tns:orderItem" />
      	</xsd:sequence>
      </xsd:complexType>
      
      <xsd:element name="PlaceOrder">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="order" type="tns:order"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      
      <xsd:element name="PlaceOrderResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      
    </xsd:schema>
  </wsdl:types>
  
  <wsdl:message name="PlaceOrderRequest">
    <wsdl:part element="tns:PlaceOrder" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="PlaceOrderResponse">
    <wsdl:part element="tns:PlaceOrderResponse" name="parameters"/>
  </wsdl:message>
  
  <wsdl:portType name="OrderEndpoint">
    <wsdl:operation name="PlaceOrder">
      <wsdl:input message="tns:PlaceOrderRequest"/>
      <wsdl:output message="tns:PlaceOrderResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  
  <wsdl:binding name="OrderBinding" type="tns:OrderEndpoint">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="PlaceOrder">
      <soap:operation soapAction="com.vishal.partdepot/PlaceOrder"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  
  <wsdl:service name="OrderEndpointService">
    <wsdl:port binding="tns:OrderBinding" name="OrderBinding">
      <soap:address location="http://localhost:8080/partdepot/order"/>
    </wsdl:port>
  </wsdl:service>
  
</wsdl:definitions>
